REACT_APP_ID=web_telisk
REACT_APP_WEBSITE_NAME="Teras Belajar Asik - Platform Belajar GRATIS untuk Tes Perguruan Tinggi dan Kedinasan"
REACT_APP_VERSION_NAME=$npm_package_version
REACT_APP_BASE_URL=http://localhost:8080/v1/api